body {
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    border-bottom: 5px solid #222;
    border-top: 5px solid #222;
    margin: 30px;
    padding: 50px;
    background-color: #f6f6f6;
}
header {
    text-align: center;
}
h1 {
    margin-top: 10px;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
    font-size: 18px;
}
p {
    letter-spacing: .02em;
    line-height: 1.5em;
    font-family: serif;
    margin-bottom: 30px;
}
hr {
    border-top: 1px solid #222;
}

img {
    width: 30%;
    margin-top: 20px;
    float: right;
    padding: 4px;
    border: 1px solid;
}

a {
    color: black;
    font-weight: bold;
}

main {
    display: inline-block;
}
footer {
    margin-top: 20px;
    text-align: center;
}
.description {
    margin-top: 20px;
    width: 66%;
    float: left;
}
.experience {
    margin-top: 20px;
    width: 100%;
    float: left;
}

.li-img {
    margin-left: 20px;
    float: left;
    width: 85%;
}
.role {
    font-weight: bold;
    font-style: italic;
}
.duration {
    font-size: 15px;
}