body {
    font-family: sans-serif;
    color: #000;
    background: #ededed;
    margin: 0;
}

header {
    background-color: #000;
    color: white;
}
.entry {
    padding: 10px 0 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}
.category {
    padding: 10px 20px;
    background-color: #fff;
    margin: 20px 40px;
    border-radius: 3px;
}
ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.25em;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 28px;
    margin: 0;
    padding: 15px 50px;
    color: white;
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    padding: 0;
    margin: 15px 0;
}
h3 {
    margin: 0px 0 3px 0;
}
p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5em;
}
.profile {
    width: 150px;
    height: 150px;
}
.description {
    margin-top: 10px;
}





